.big-button {
  background: $green;
  border: none;
  border-bottom: 0.7rem solid darken($green, 40%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.4rem;
  width: 100%;
}

.big-button:disabled {
  opacity: 0.5;
}

@media (min-width: $desktop-bp) {
  .big-button {
    margin-bottom: $xl-size;
  }
}

.button {
  background-color: $green;
  border: none;
  border-bottom: 0.5rem solid darken($green, 40%);
  color: white;
  font-weight: 500;
  padding: $s-size;
}

.button--link {
  background: none;
  border: none;
  color: $green;
  padding: 0;
}
.button--link:disabled {
  background: none;
  border: none;
  color: $green;
  padding: 0;
  opacity: 0.2;
}
